body {
    background: #eee;
    color: #222;
}

.container {
    width: 100vw;
    height: 100vh;
    flex: auto;
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    font-family: Helvetica, Arial, sans-serif;
    margin: 3rem;
    color: rgb(38, 218, 173);
    ;
}

blockquote {
    margin-right: 3rem;
    margin-left: 3rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(61, 61, 61);
}